<div class="footer">
    <div class="container">
        <div class="footer-block footer-left col-md-5">
            <div class="footer-form">
                <form action="">
                    <div class="form-title">
                        <h3 class="title">Получать специальные предложения, акции и новости</h3>
                    </div>
                    <div class="form-left">
                        <input type="text">
                    </div>
                    <div class="form-right">
                        <button>Подписаться</button>
                    </div>
                </form>
            </div>
            <div class="footer-contacts">
                <p>Украина</p>
                <p>Главный офис : г. Киев, ул. Дорогожицкая 1, Unit City - TCDC</p>
                <p>Офис: г. Киев, ул. Саксаганского 110Б</p>
                <p>Тел: <a href="tel:+380-99-999-99-99">+380-99-999-99-99</a></p>
                <p>e-mail: <a href="mailto:info@empoagency.com">info@empoagency.com</a></p>

            </div>
        </div>
        <div class="footer-block footer-center col-md-5">
            <nav class="footer-nav nav-left">
                <a class="big-nav" href="/">Услуги</a>
                <a class="small-nav" href="/">Аналитика</a>
                <a class="small-nav" href="/">Поставщики</a>
                <a class="small-nav" href="/">Брендинг</a>
                <a class="small-nav" href="/">Листинг</a>
                <a class="small-nav" href="/">Веб-дизайн</a>
                <a class="small-nav" href="/">Развитие</a>
            </nav>
            <nav class="footer-nav nav-center">
                <a class="big-nav" href="/">портфолио</a>
            </nav>
            <nav class="footer-nav nav-center">
                <a class="big-nav" href="/">Блог</a>
                <a class="small-nav" href="/">Новости</a>
                <a class="small-nav" href="/">Статьи</a>
                <a class="small-nav" href="/">FAQ</a>
            </nav>
            <nav class="footer-nav nav-right">
                <a class="big-nav" href="/">О Нас</a>
                <a class="small-nav" href="/">О компании</a>
                <a class="small-nav" href="/">Команда</a>
                <a class="small-nav" href="/">Контакты</a>
            </nav>
        </div>
        <div class="footer-block footer-right col-md-2">
            <div class="logo">
                <img src="img/empo-logo.svg" alt="empo-logo">
            </div>
            <div class="footer-about-text">
                <p>Полный спектр услуг по запуску и развитию предпринимательства на Amazon</p>
            </div>
            <div class="copyright">
                <p>© 2010 - 2017</p>
            </div>
        </div>
    </div>
</div>
</div>
<!--Main Js-->
<script type="text/javascript" src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/bower_components/slick-carousel/slick/slick.min.js"></script>
<script type="text/javascript" src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bower_components/zooming/build/zooming.min.js"></script>
<script type="text/javascript" src="js/bower_components/Headhesive.js/dist/headhesive.min.js"></script>
<script type="text/javascript" src="js/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
