<!--Front page start-->
<div class="front-page">
    <div class="front-block"></div>
    <div class="container">
        <div class="header clearfix">
            <!--Navigation start-->
            <nav class="header-nav clearfix">
                <div class="header-logo logo"><img src="img/empo-logo.svg" alt="logo"></div>
                <a class="header-nav-link" href="">Услуги</a>
                <a class="header-nav-link" href="">Портфолио</a>
                <a class="header-nav-link" href="">Блог</a>
                <a class="header-nav-link" href="">О нас</a>
            </nav>
            <!--Navigation end-->
        </div>
