<!--Service page start-->
<!--Services start-->
<div class="services services-padding">
    <div class="small-title align-center">
        <h1 class="title show ">
            Листинг на Amazon
        </h1>
    </div>
    <div class="services-undertitle undertitle-margin align-left">
        <h2 class="undertitle show">Создание листинга — это совокупная работа менеджера, аналитика, копирайтера, РРС-специалиста, фотографа и дизайнера. Этот процесс занимает у нашей команды Х часов.
        </h2>
    </div>
    <div class="breadcrumbs">
        <a href="/">EMPO</a>
        <a href="/">Услуги</a>
        <a href="/">Листинг</a>
    </div>
</div>
<!--Services end-->
<div class="service-info">
    <div class="container no-padding">
        <div class="info-left info-consist">
            <div class="info-title">
                <h3 class="title title-black">Из чего состоит?</h3>
            </div>
            <div class="consist-block">
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Анализ листингов конкурентов и отзывов на их товары</h4>
                        <p>Учитываем недостатки конкурентов и превращаем их в ваши преимущества</p>
                    </div>
                </div>
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Подбор ключевых слов</h4>
                        <p>PPC-специалист подберет от 200 до 900 ключевых слов для высокой позиции листинга в поисковой выдачи Amazon</p>
                    </div>
                </div>
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Создание текстов</h4>
                        <p>Англоязычный копирайтер напишет заголовок, буллеты и описание с использованием подобранных ключевых слов и учетом анализа конкурентов</p>
                    </div>
                </div>
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Фотосессия товара</h4>
                        <p>Специалист коммерческой съемки фотографирует товар в соответствии с требованиями Amazon. Профессиональные модели и разнообразные локации помогают показать товар в действии</p>
                    </div>
                </div>
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Создание изображений</h4>
                        <p>Дизайнер создает инфографику, фотоинструкции, коллажи, ретуширует и обрабатывает фотографии. Вы получаете историю из 9 изображений, призывающих купить</p>
                    </div>
                </div>
                <div class="consist-item">
                    <div class="consist">
                        <h4 class="title">Загрузка контента на Amazon</h4>
                        <p>Заливаем изображения, тексты и ключевые слова на существующий листинг. Для этого вам достаточно открыть права доступа (User Permissions)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-right">
            <div class="info-title">
                <h3 class="title title-black">Почему мы?</h3>
            </div>
            <div class="whywe-block">
                <div class="why-item">
                    Более <span>200</span> успешно реализованных проектов
                </div>
                <div class="why-item">
                    Более <span>200</span> успешно реализованных проектов
                </div>
            </div>
        </div>
    </div>
</div>
<div class="price-block">
    <div class="container">
        <div class="price-title">
            <h3 class="title title-black">
                Сколько стоит?
            </h3>
        </div>
        <div class="price-package">
                <div class="price-box">
                    <div class="package-title bg-orange">
                        <h4 class="title">Базовый</h4>
                    </div>
                    <div class="package-sale clearfix"></div>
                    <ul class="package-list clearfix">
                        <li>Анализ конкурентов</li>
                        <li>Подбор 150-200 ключевых слов</li>
                        <li>1 вариация товара</li>
                        <li>Написание текстового контента</li>
                        <li>Студийная фотосессия товара</li>
                        <li>Обработка и ретушь фото</li>
                        <li>Дизайн изоражений</li>
                        <li>Выгрузка контента на Amazon</li>
                    </ul>
                    <div class="package-bottom">
                        <div class="package-price">
                            <h5 class="price"><span>$</span>270</h5>
                        </div>
                        <div class="package-btn">
                            <a class="order-btn btn-green" href="/">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="price-package">
                <div class="price-box">
                    <div class="package-title bg-blue">
                        <h4 class="title">Оптимальный</h4>
                    </div>
                    <div class="package-sale clearfix">
                        <div class="sale">
                            Базовый пакет со скидкой 5%
                        </div>
                        <span class="and-block">и</span>
                    </div>
                    <ul class="package-list clearfix">
                        <li>Фотосессия товара в действии</li>
                        <li>До 3х вариаций товара</li>
                        <li>Регистрация бренда на Amazon*</li>
                    </ul>
                    <div class="package-check">
                        <input type="checkbox">Расширенное описание с фото<Br>
                    </div>
                    <div class="package-bottom">
                        <div class="package-price">
                            <h5 class="price"><span>$</span>420</h5>
                        </div>
                        <div class="package-btn">
                            <a class="order-btn btn-green" href="/">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="price-package">
                <div class="price-box">
                    <div class="package-title bg-blue">
                        <h4 class="title">Vip</h4>
                    </div>
                    <div class="package-sale clearfix">
                        <div class="sale">
                            Базовый пакет со скидкой 20%
                        </div>
                        <span class="and-block">и</span>
                    </div>
                    <ul class="package-list clearfix">
                        <li>Фотосессия товара в действии</li>
                        <li>о 5 вариаций товара</li>
                        <li>Регистрация бренда на Amazon*</li>
                        <li>Расширенное описание с фото</li>
                        <li>Подбор 500-900 ключевых слов</li>
                        <li>Продающий одностраничный сайт</li>
                    </ul>
                    <div class="package-check">
                        <input type="checkbox">Вывод листинга в ТОП по 10 запросам<Br>
                    </div>
                    <div class="package-bottom">
                        <div class="package-price">
                            <h5 class="price"><span>$</span>950</h5>
                        </div>
                        <div class="package-btn">
                            <a class="order-btn btn-green" href="/">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="portfolio-block">
    <div class="container">
        <div class="portfolio-title">
            <h3 class="title title-black">
                Портфолио
            </h3>
        </div>
        <div class="wrap portfolio-photo">
            <div class="menu portfolio-menu">
                <nav>
                    <ul class="navigate portfolio-navigate clearfix">
                        <li class="active" data-type ="all"><a href="#">Все</a></li>
                        <li data-type="subject"><a href="#">Предметные фото</a></li>
                        <li data-type="additional"><a href="#">Дополнительная графика</a></li>
                        <li data-type="production"><a href="#">Постановочная фотосессия</a></li>
                    </ul>
                </nav>
            </div>
            <div class="portfolio-slider responsive">
                <div class="portfolio-items clearfix">
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                </div>
                <div class="portfolio-items clearfix">
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="subject"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-1.jpg" alt="" title="additional"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-2.jpg" alt="" title="production"></figure>
                    <figure class="img-wrap">
                        <img src="img/portfolio-3.jpg" alt="" title="production"></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reviews-block">
    <div class="container">
        <div class="review-title">
            <h3 class="title title-black">
                Отзывы об услуге
            </h3>
        </div>
        <div class="responsive-rev">
            <div class="review-box">
                <div class="rev-box-top">
                    <div class="rev-box-avatar">
                        <img src="img/zotov.png" alt="review">
                    </div>
                    <div class="rev-box-info">
                        <div class="rev-box-name">Илья Зотов</div>
                        <div class="rev-box-stars">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                        </div>
                        <div class="rev-box-date">15.15.2015</div>
                    </div>
                </div>
                <div class="rev-text">
                    <p>Решил написать отзыв о качественно проделанной работе компании Empo Agency над моим листингом. Во-первых это очень хорошие ребята, слаженная команда!!! Особая благодарность Александре и Алине !!!….</p>
                </div>
                <div class="rev-more clearfix">
                    <div class="more-btn">
                        <a class="btn-blue" href="/">Подробнее</a>
                    </div>
                    <div class="more-fb">
                        <a href="/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="review-box">
                <div class="rev-box-top">
                    <div class="rev-box-avatar">
                        <img src="img/zotov.png" alt="review">
                    </div>
                    <div class="rev-box-info">
                        <div class="rev-box-name">Илья Зотов</div>
                        <div class="rev-box-stars">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                        </div>
                        <div class="rev-box-date">15.15.2015</div>
                    </div>
                </div>
                <div class="rev-text">
                    <p>Решил написать отзыв о качественно проделанной работе компании Empo Agency над моим листингом. Во-первых это очень хорошие ребята, слаженная команда!!! Особая благодарность Александре и Алине !!!….</p>
                </div>
                <div class="rev-more clearfix">
                    <div class="more-btn">
                        <a class="btn-blue" href="/">Подробнее</a>
                    </div>
                    <div class="more-fb">
                        <a href="/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="review-box">
                <div class="rev-box-top">
                    <div class="rev-box-avatar">
                        <img src="img/zotov.png" alt="review">
                    </div>
                    <div class="rev-box-info">
                        <div class="rev-box-name">Илья Зотов</div>
                        <div class="rev-box-stars">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                        </div>
                        <div class="rev-box-date">15.15.2015</div>
                    </div>
                </div>
                <div class="rev-text">
                    <p>Решил написать отзыв о качественно проделанной работе компании Empo Agency над моим листингом. Во-первых это очень хорошие ребята, слаженная команда!!! Особая благодарность Александре и Алине !!!….</p>
                </div>
                <div class="rev-more clearfix">
                    <div class="more-btn">
                        <a class="btn-blue" href="/">Подробнее</a>
                    </div>
                    <div class="more-fb">
                        <a href="/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="review-box">
                <div class="rev-box-top">
                    <div class="rev-box-avatar">
                        <img src="img/zotov.png" alt="review">
                    </div>
                    <div class="rev-box-info">
                        <div class="rev-box-name">Илья Зотов</div>
                        <div class="rev-box-stars">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                            <img src="img/star-icon.svg" alt="star">
                        </div>
                        <div class="rev-box-date">15.15.2015</div>
                    </div>
                </div>
                <div class="rev-text">
                    <p>Решил написать отзыв о качественно проделанной работе компании Empo Agency над моим листингом. Во-первых это очень хорошие ребята, слаженная команда!!! Особая благодарность Александре и Алине !!!….</p>
                </div>
                <div class="rev-more clearfix">
                    <div class="more-btn">
                        <a class="btn-blue" href="/">Подробнее</a>
                    </div>
                    <div class="more-fb">
                        <a href="/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--Front page end-->
<!--Service page end-->


